// default font - start
// ==================================================
$body-font: 'Montserrat', sans-serif;
$heading-font: 'Montserrat', sans-serif;
// default font - end
// ==================================================

// font weight - start
// ==================================================
$fw-thin: 100;
$fw-extralight: 200;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-extrabold: 800;
$fw-black: 900;
// font weight - end
// ==================================================

// default colors - start
// ==================================================
$default-color: #606060;
$default-black: #2C2C2C;
$default-orange: #FC9246;
$default-yellow: #FFC055;
// default colors - end
// ==================================================

// custom colors - start
// ==================================================
$pure-white: #ffffff;
$pure-black: #000000;

$deep-gray: #f0f0f0;
$light-gray: #f7f7f7;
$rating-star: #f2b01e;
// custom colors - end
// ==================================================



// transition - start
// ==================================================
$default-transition: all .3s ease-in-out;
// transition - end
// ==================================================