/* table of content - start
==================================================================================================== */
/* ==================================================
Project Name 	:  Carrott
File 			:  CSS Base
Version 		:  1.0.0
Last change 	:  05 November 2019
Author 			:  ----------
Developer:		:  Jaherul Alom
================================================== */
/* table of content - end
==================================================================================================== */
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

@import "variable";
@import "reset";
@import "header";
@import "footer";
@import "breadcrumb";
@import "home";
@import "responsive";